.container {
  display: flex;
  width: 100%;
  height: 80vh;
  position: relative;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 1rem;
  flex-shrink: 0;
  background: radial-gradient(
      90.87% 90.87% at 50% 9.13%,
      #edffef 0%,
      #c7ffc2 100%
    ),
    linear-gradient(0deg, #defee9 0%, #defee9 100%),
    radial-gradient(90.87% 90.87% at 50% 9.13%, #edffef 0%, #c7ffc2 100%),
    #defee9;
  padding: 4rem 10rem;
}

.content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.displayMeme {
  /* display: flex;
  align-items: center;
  align-content: center;
  gap: 1.5rem;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.meme {
  border-radius: 0.875rem;
  border: 3px solid #fff;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
}
