.container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 2rem;
  flex-shrink: 0;
  background: radial-gradient(
      90.87% 90.87% at 50% 9.13%,
      #edffef 0%,
      #c7ffc2 100%
    ),
    linear-gradient(0deg, #defee9 0%, #defee9 100%),
    radial-gradient(90.87% 90.87% at 50% 9.13%, #edffef 0%, #c7ffc2 100%),
    #defee9;

  padding: 2rem 4rem;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.rightSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbarLinks {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contentText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6875rem;
}

.heroText {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
}

.heroTitle {
  max-width: 50rem;
}
